DATABASE_URL="mongodb+srv://info_db_user:xWerfHBABQqwSzoe@cluster0.qzdn3ov.mongodb.net/test?appName=Cluster0"
NEXTAUTH_SECRET="qTIkAJMFq6RI6b+jmch99TmGv6CpL02VYGfW7VwPa20="
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST=true
