DATABASE_URL="mongodb+srv://manager_db_user:HEWNXkEqSqAzzN7r@cluster0.k3wjxxm.mongodb.net/db?appName=Cluster0"
NEXTAUTH_SECRET="qTIkAJMFq6RI6b+jmch99TmGv6CpL02VYGfW7VwPa20="
NEXTAUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST=true
